# Maven target directory
/target/

# IntelliJ IDEA specific files
/.idea/
/*.iml

# Eclipse specific files
/.settings/
/*.classpath
/*.project

# MacOS system files
.DS_Store

# Logs
*.log

# Environment variables
application.properties
application.yml
src/main/resources/application.properties
.env

# Compiled files
*.class

# Java files generated during builds
*.jar
*.war

# Operating system files
Thumbs.db
